$('.form-grouping').hide();
$(".edit-ingredient-grouping").show();
$(".edit-ingredient-grouping").html("<h2>Editing Ingredients:</h2><%= escape_javascript(render(:partial => 'edit_ingredient_form'))%>");


