<%= form_for(@step = Step.new, remote: true, method: :post, url: recipe_steps_path, html: {class: "new-step-form"}) do |f| %>

	<div class="form-group">
		<label for="order">Order:</label>
		<%= f.text_field :order, class: "form-control", id: "order" %>
	</div>
	<div class="form-group">
		<label for="Instruction">Instruction:</label>
		<%= f.text_area(:instruction, class: "form-control", rows: 5, id: "instruction") %>
	</div>
    <%= f.submit 'Submit', class: "edit-step-form-button" %>
<% end %>