$('.form-grouping').hide();
$(".edit-step-grouping").show();
console.log("<%= params[:recipe_id] %>");
$(".edit-step-grouping").html("<h2>Editing Steps:</h2><%= escape_javascript(render(:partial => 'edit_step_form'))%>");


