/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url('Background medium.png');
	background-size: cover;
	background-position: center;
}
.container, .recipe-container {
	width: 96.5%;
	left: 1.75%;
	height: 95.25%;
	top: 1.75%;
	position: relative;
	overflow-x: hidden;
	margin-bottom: 1.75%;
	border:3px dashed white;
}
.recipe-container {
	background: rgba(102, 145, 153, .99);
	overflow-y: scroll;
	position: absolute;
	display: none;
	z-index: 10;
}
.fa-search, .fa-bars {
	border: 3px dashed white;
	color: white;
	padding: 5px;
	position: relative;
	font-size: 42px;
	top: 3.75%;
}
.fa-search {
	position: absolute;
	right: 3.75%;
	z-index: 14;
}
.fa-bars {
	position: absolute;
	left: 3.75%;
	z-index: 15;
}
		
.menu-open {
	z-index: 15;
	position: absolute;
	top: 3.65%;
	width: 400px;
	min-height: 300px;
	height: 92%;
	border: 1px solid white;
	left: 7.75%;
	background: rgba(102, 145, 153, .95);
	overflow-y: scroll;
}
.search-open {
	position: absolute;
	top: 3.35%;
	background: white;
	width: 200px;
	border:3px dashed white;
	height: 45px;
	right: 8.75%;
	clear: right;
	z-index: 14;
}
.meal-titles {
	position: relative;
	width: 94%;
	height: 50px;
	border:1px solid white;
	left: 3%;
	margin-top: 5px;
}
.meal-titles h4 {
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: -5px;
	font-family: 'Roboto', sans-serif;
	color: white;
	letter-spacing: 1.1px;
}
.recipe-titles {
	width: 90%;
	position: relative;
	left: 5%;
	border:1px solid lightgray;
	min-height: 300px;
	height: auto;
	display: none;
	margin: 2px;
	text-align: center;
}
.recipe-info{
	width: 95%;
	top: -20px;
	position: relative;
	left: 1.5%;
	padding: 0;
	padding-left: 1.5%;
	min-height: 35px;
	background: rgba(255,255,255,.7);
	margin: 0;
	margin-bottom: -15px;
}
.recipe-info h6 {
	text-align: left;
	position: relative;
	top: 5px;
	font-family: 'Lato', sans-serif;	
	letter-spacing: 1.05px;	
}

.main-text {
	width: 350px;
	height: 150px;
	position: absolute;
	text-align: right;
	padding-right: 25px;
	color: rgb(247,245,196);
	top: 30vh;
	left: 7vw;
	z-index: 5;
	font-family: 'Roboto', sans-serif;
}
.main-text {
	text-shadow: 2px 2px #000;
}

/* recipe container */
.recipe-container h3, .recipe-container h4 {
	color: white;
	left: 5px;
	position: relative;
	font-family: 'Lato', sans-serif;	
	letter-spacing: 1.05px;	
	width: 97%;
}
.recipe-container ol{
	color: white;
	font-family: 'Lato', sans-serif;	
	margin-bottom: -5px;
}
.recipe-container-title, .recipe-container-image, .recipe-container-description, .recipe-container-ingredients, .recipe-container-steps {
	position: relative;
	left: 9%;
}
.recipe-container-title {
	width: 600px;
	min-height: 50px;
	top: 40px;
}
.recipe-container-title h2 {
	color: white;
	left: 5px;
	position: relative;
	font-family: 'Roboto', sans-serif;
}
.recipe-container-image {
	width: 1000px;
}
.recipe-container-image {
	max-width: 100%;
	height: auto;
}
.recipe-container-description {
	width: 1000px;
	min-height: 100px;
	top: 30px; 
}
.recipe-container-ingredients {
	width: 300px;
	min-height: 400px;
	top: 40px;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 20px;
}
.recipe-container-ingredients ol{
	
}
.recipe-container-steps {
	width: 700px;
	min-height: 600px;
	top: 40px;
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
}
.recipe-container-steps ol {
	list-style: none;
}

/* scrollbars 
https://codepen.io/GhostRider/pen/GHaFw
*/
.menu-open::-webkit-scrollbar-track, .recipe-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.menu-open::-webkit-scrollbar, .recipe-container::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.menu-open::-webkit-scrollbar-thumb, .recipe-container::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

/* Media screens */
@media screen and (min-width: 1700px) {
	body, html {
		background: url(Background%20large.png) no-repeat center center;
		background-size: cover;
	}
	.recipe-container-title {
		width: 1200px;
	}
}
	
@media screen and (min-height: 1000px) {
	body, html {
		background: url(Background%20large.png) no-repeat center center;
		background-size: cover;
	}
}